html, body{
    margin:0;
    padding:0;
}


/* Nav Bar */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white;
  height: 100px;
}

li {
  float: right;
  height: 100%;
  width: 130px;
}

li a {
  display: block;
  color: white;
  text-align: bottom; 
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

.nav1{
    background-color: white;
}

.nav2{
    background-color: rgb(35, 83, 185);
}

.nav3{
    background-color: rgb(21, 129, 201);
}

.nav4{
    background-color: rgb(231, 77, 77);
}

.nav5{
    background-color: rgb(247, 215, 34);
}

.nav6{
    background-color: mediumseagreen;
}

.nav7{
    background-color: white;
    
}

.nav8{
    width: 150px;    
    color: black;
    font-size: 30px;
}


/* body content */


#mainImage{
    width: 100%;
    height: 500px;
}

.contentTitle{
    text-align: center;
    font-size: 25px;
}

#subtitle{
    font-size: 16px;
}

.flex-container{
    display: flex;
    margin: 100px;
}

.flex-item{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 5px;
}

.flex-item-title{
    font-weight: bold;
}

.flex-item > img{
    height: 50px;
    width: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    background-image: url("placeholder.svg");
    width: 350px;
    height: 250px;
    margin: 10px;
    justify-content: space-between;

}
.infoBar{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(21, 129, 201);
    justify-content: space-between;
}

.infoBar>p{
    color: white;
    font-size: 20px;
    align-self: center;
}

.infoBar > div{
    background-color: rgb(14, 75, 116);
    width: 35px;
    height: 30px;
    margin-right: 10px;
    align-self: center;

}


.cardDate{
    background-color: rgb(150, 38, 38);
    width: 15%
}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
}

.card1{
    flex-basis: 30%;
    display: flex;
    flex-direction: column; 
    background-image: url("placeholder.svg");
    height: 250px;
    margin: 15px;
    /* justify-content: space-between; */
    
}

.flex-container2 div:hover {
    background-color: rgb(30, 109, 101);

}


.flex-container3{
    display: flex;
    margin: 100px;
}




.flex-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 229, 229);
    width: 100%;
    height: 300px;
    margin: 10px;
    display:inline;
}

.flex-card > div {
    background-color: rgb(21, 129, 201);
    width: 100%;
    height: 15%;
    color: white;
}

#fillerText{
    background-color: grey;
    text-align: center;
}

.flex-card > img{
    width: 80px;
    height: 80px;
    border: solid black;
    margin: 10px;;
    float: left;
}



.logos{
    display: flex;
    margin: 100px;
    justify-content: space-between;
}

.logos > div{
    background-image: url("placeholder.svg");
    width: 250px;
    height: 150px;
    margin: 10px;
}

.flex-card > #fillerContainer{
    background-color: grey;
    margin-top: 10px;
}

.flex-card > .containerImage{
    height: 40px;
    width: 40px;
    margin: 4px;
}



/* Footer */

.footer{
    background-color: rgb(24, 24, 43);
    width: 100%;
    height: 600px;
}



.flex-footer-item{
    display: inline;
}

.flex-footer-item > img{
    float: left;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 30px;

}

.footer-content{
    color: white;
    float: left;
    margin: 20px;
}
.flex-item-container{
    display: flex;
}